.audio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin: 1em 0;
}
.composition-card .audio {
    margin: 0;
}
.play-pause-btn, .volume-btn {
    border: none;
    border-radius: 3px;
    color: var(--accent-clr1);
    background-color: var(--main-clr2);
    font-size: var(--h5-size);
}
.play-pause-btn:hover, .volume-btn:hover {
    cursor: pointer;
    color: var(--accent-clr2);
}
.play-pause-btn:active, .volume-btn:active {
    color: var(--accent-clr4);
}
.progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: var(--accent-clr5);
    position: relative;
    border-radius: 400em;
}
.progress-bar {
    height: 100%;
    background-color: var(--accent-clr1);
    width: 0;
    border-radius: 400em;
    z-index: 1;
}
.progress-bar-click {
    height: 100%;
    background-color: none;
    width: 100%;
    border-radius: 400em;
    z-index: 999;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.progress-time {
    font-size: var(--tiny-size);
    color: var(--accent-clr1);
}