body::-webkit-scrollbar, aside::-webkit-scrollbar, #search::-webkit-scrollbar {
    width: 0em;
  }
  body::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb, #search::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-track, aside::-webkit-scrollbar-track, #search::-webkit-scrollbar-track {
    background-color: transparent;
  }
  body, aside, #search {
    scrollbar-width: none;
  }
  body, aside, #search {
    overflow: -moz-scrollbars-none;
  }