<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head.html" .}}
    <link rel="stylesheet" href="/css/home.css">    
</head>
<body>
    <div class="home-content">
        <div class="home-element">
            <div class="home-header">
                <div class="home-header-title">Petr Geršl</div>
                <div class="home-header-description"><em>"Without music, life would be a mistake."</em> (F. Nietzsche)</div>
            </div>
        </div>
        <div class="home-element">
            <div class="home-intro">
                {{.Content}}
            </div>
        </div>
        <div class="home-element">
            <div class="home-nav">
                <a class="home-nav-link" href="/about">About</a>
                <div id="home-nav-works">
                    {{range .Site.Menus.works}}
                        <a class="home-nav-link" href="{{.URL}}">{{.Name}}</a>
                    {{end}}
                </div>
                <a class="home-nav-link" href="/discography">Discography</a>
                <a class="home-nav-link" href="/support">Support</a>
            </div>
        </div>
        <div class="home-news">

        </div>
        <footer>
            {{partial "footer.html" .}}
        </footer>
    </div>
</body>
</html>