<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head.html" .}}
</head>
<body>
    <header></header>
    <nav>
        {{partial "nav.html" .}}
    </nav>
    <div class="content-container">
        <div class="column">
            <main>
                <div class="main-content">
                    <div class="main-content-title">
                        {{.Title}}
                    </div>
                    {{if eq .Params.info true}}
                        <div class="main-content-info">
                            <div class="main-content-info-content">
                                {{partial "info.html" .}}
                            </div>
                        </div>
                    {{end}}
                    <div class="main-content-container">
                        {{.Content}}
                        {{if eq .Params.title "Works"}}
                            <ul>
                                {{range .Site.Menus.works}}
                                    <li>
                                        <a href="{{.URL}}">{{.Name}}</a>
                                    </li>
                                {{end}}
                            </ul>
                        {{end}}
                    </div>
                </div>
            </main>
        </div>
        <div class="column">
            <aside>
                {{partial "aside.html" .}}
            </aside>
        </div>
    </div>
    <footer>
        {{partial "footer.html" .}}
    </footer>
</body>
</html>