<div class="aside-content">
    <div class="aside-content-photo">
        <img src="/media/img/main/me.jpg">
    </div>
    <h4>Newest composition</h4>
    <div class="aside-content-composition">
        {{range where .Site.Pages ".Params.type" "==" "composition" | first 1}}
            <a class="aside-content-title" href="{{.RelPermalink}}">
                {{.Title}}
            </a>
            <div class="aside-content-show">
                {{.Params.show}}
            </div>
        {{end}}
    </div>
    <h4>Newest album</h4>
    <div class="aside-content-album">
        {{range where .Site.Pages ".Params.type" "==" "album" | first 1}}
            <div class="aside-content-album-cover">
                <img src="{{.Params.cover}}">
            </div>
            <div class="aside-content-album-content">
                <a class="aside-content-title" href="{{.RelPermalink}}">
                    {{.Title}}
                </a>
                <div class="aside-content-date">
                    Released: {{.Date | time.Format "02/01/2006"}}
                </div>
            </div>
        {{end}}
    </div>
</div>