{{if eq .Params.list "compositions"}}
    {{$ensemble := .Params.ensemble}}
    <div class="composition-list">
        {{range where .Site.RegularPages ".Params.ensemble" "==" $ensemble}}
            {{partial "composition-card.html" .}}
        {{end}}
    </div>
{{end}}
{{if eq .Params.list "albums"}}
    {{range where .Site.Pages ".Params.type" "==" "album" }}
        <div class="album-card filter-item">
            <div class="album-card-content">
                <div class="album-cover">
                    <img src="{{.Params.cover}}">
                </div>
                <div class="album-content">
                    <div class="album-title"><a class="album-title-link filter-item-title" href="{{.RelPermalink}}">{{.Title}}</a></div>
                    <div class="album-item">Released: {{.Params.Date | time.Format "02/01/2006"}}</div>
                    <div class="album-item">Length: {{.Params.length}}</div>
                    <div class="album-item">Tracks: {{.Params.tracks}}</div>
                    <div class="album-item">Featuring: {{.Params.featuring}}</div>
                    <div class="album-item">
                        Available on:
                        {{with .Params.spotify}}<span><a href="{{.}}" target="_blank">spotify</a></span>{{end}}
                        {{with .Params.apple}}<span><a href="{{.}}" target="_blank">apple music</a></span>{{end}}
                        <span><a href="{{.Params.audiocom}}" target="_blank">audio.com</a></span> 
                        <span><a href="{{.Params.bandcamp}}" target="_blank">bandcamp</a></span> 
                        <span><a href="{{.Params.yt}}" target="_blank">youtube</a></span>
                    </div>
                </div>
            </div>
        </div>
    {{end}}
{{end}}