<div class="footer-content">
    <div class="footer-column-1">
        <div class="footer-title">
            m.
        </div>
        <div class="footer-description">
            <p>A site for the music I create.</p>
            <p>by <a class="footer-link" href="https://pgersl.xyz" target="_blank">Petr Geršl</a></p>
        </div>
    </div>
    <div class="footer-column-2">
        <div class="footer-links">
            <a href="https://music.apple.com/us/artist/petr-ger%C5%A1l/1707910920" class="footer-link"><i class="fa-brands fa-apple"></i></a>
            <a href="https://open.spotify.com/artist/3jeeP8iPfuNDAXRqASrNV2?si=mhlbmzvPS7KAldVtFovbSg" class="footer-link" target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a class="footer-link" href="https://www.youtube.com/@petrgersl" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a class="footer-link" href="https://pgersl.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
            <a class="footer-link" href="https://paypal.me/petrgersl" target="_blank"><i class="fa-brands fa-paypal"></i></a>
        </div>
    </div>
</div>