<div class="nav-content">
    <div class="nav-content-wrap">
        <a class="nav-content-title nav-link" href="{{.Site.BaseURL}}">
            Petr Geršl
        </a>
        <button id="nav-toggle-btn">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="nav-links">
        <a class="nav-link" href="/about">About</a>
        <div class="nav-dropdown">
            <a id="nav-works-link" class="nav-link">Works</a>
            <div class="nav-dropdown-content">
                {{range .Site.Menus.works}}
                    <a class="nav-link" href="{{.URL}}">{{.Name}}</a>
                {{end}}
            </div>
        </div>
        <a class="nav-link" href="/discography">Discography</a>
        <a class="nav-link" href="/support">Support</a>
    </div>
</div>