<div class="audio">
    <audio src="{{.Get "src"}}"></audio>
    <button class="play-pause-btn">
        <i class="play-pause-icon fa-solid fa-play"></i>
    </button>
    <button class="volume-btn">
        <i class="volume-icon fa-solid fa-volume-high"></i>
    </button>
    <div class="progress-bar-container">
        <div class="progress-bar"></div>
        <div class="progress-bar-click"></div>
    </div>
    <div class="progress-time">
        <span class="current-time">0:00</span>/<span class="length-time">0:00</span>
    </div>
</div>